In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
fp = open("../Dataset_For_All_Experimental_Sequences/WT_nextseq_cleaved.txt","r")
index = []
for line in fp:
    index.append(line[:-1])
cl_num = len(index)
gp = open("../Dataset_For_All_Experimental_Sequences/WT_nextseq_middle.txt","r")
for line1 in gp:
    index.append(line1[:-1])
mid_num = len(index) - cl_num
hp = open("../Dataset_For_All_Experimental_Sequences/WT_nextseq_uncleaved.txt","r")
for line2 in hp:
    index.append(line2[:-1])
uncl_num = len(index) - mid_num - cl_num
inf = pd.read_csv("../structure_features.csv",index_col=0)
X_str = inf.loc[index,:]
X_str.head()

             prot     pept       cst      amber
sequence
AALIT    -76.0818 -1.35801  0.378379  -2.019500
AAQIQ    -76.1476 -1.11785  0.404513  -2.553375
AATEH    -75.8382 -1.18350  0.462831 -15.178750
AATHN    -76.4414 -1.61408  0.480902  -1.730250
AATIH    -78.8607 -2.48235  0.031647  -2.140375

In [32]:
X_str.shape,cl_num,mid_num,uncl_num

((31176, 4), 7737, 8737, 14702)

In [2]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
#train_minMax = min_max_scaler.fit_transform(train_df[['prot','pept','cst','amber']])
#test_minMax = min_max_scaler.fit_transform(test_df[['prot','pept','cst','amber']])
X_str_scale = min_max_scaler.fit_transform(X_str)
X_str_scale_df = pd.DataFrame(X_str_scale,columns = ['prot','pept','cst','amber'],index=X_str.index)
X_str_scale_df.head()

              prot      pept       cst     amber
sequence
AALIT     0.449722  0.508079  0.304873  0.601841
AAQIQ     0.444872  0.526513  0.326085  0.594492
AATEH     0.467678  0.521474  0.373418  0.420695
AATHN     0.423216  0.488423  0.388085  0.605823
AATIH     0.244888  0.421776  0.023450  0.600177

In [34]:
X_str_scale_df.shape

(31176, 4)

In [16]:
seq_ft = np.zeros((len(index),100))
listt = ['A','C','D','E','F','G','H','I','K','L','M','N','P','Q','R','S','T','V','W','Y']
for ind in range(0,len(index)):
    tmp = list(index[ind]) #['A','A','C','C','Y']
    seq_ft[ind,listt.index(tmp[0])] = 1
    seq_ft[ind,listt.index(tmp[1])+20] = 1
    seq_ft[ind,listt.index(tmp[2])+40] = 1
    seq_ft[ind,listt.index(tmp[3])+60] = 1
    seq_ft[ind,listt.index(tmp[4])+80] = 1
X_seq = pd.DataFrame(data=seq_ft,columns=range(0,100),index=index)
X_seq.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
AALIT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AAQIQ,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
AATEH,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AATHN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AATIH,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
X_train = pd.concat([X_seq, X_str_scale_df], axis=1)
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,prot,pept,cst,amber
sequence,,,,,,,,,,,,,,,,,,,,,
AALIT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.449722,0.508079,0.304873,0.601841
AAQIQ,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.444872,0.526513,0.326085,0.594492
AATEH,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.467678,0.521474,0.373418,0.420695
AATHN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.423216,0.488423,0.388085,0.605823
AATIH,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.244888,0.421776,0.023450,0.600177

In [38]:
X_train.shape

(31176, 104)

In [18]:
y_train = pd.DataFrame([],columns=['result'],index=index)
y_train.iloc[0:cl_num,0] = 'CLEAVED'
y_train.iloc[cl_num:cl_num+mid_num,0] = 'MIDDLE'
y_train.iloc[mid_num+cl_num:len(index),0] = 'UNCLEAVED'
y_train.head()

        result
AALIT  CLEAVED
AAQIQ  CLEAVED
AATEH  CLEAVED
AATHN  CLEAVED
AATIH  CLEAVED

## Test dataset of 3.2 million data

In [37]:
X_4test = pd.read_csv("../structure_features.csv", index_col = 0)
min_max_scaler_test = preprocessing.MinMaxScaler()
#train_minMax = min_max_scaler.fit_transform(train_df[['prot','pept','cst','amber']])
#test_minMax = min_max_scaler.fit_transform(test_df[['prot','pept','cst','amber']])
test_minMax = min_max_scaler_test.fit_transform(X_4test)
test_minMax_df = pd.DataFrame(test_minMax,columns = ['prot','pept','cst','amber'],index=X_4test.index)
test_minMax_df.head()

              prot      pept       cst     amber
sequence
AAAAA     0.572797  0.454825  0.316189  0.592068
AAAAC     0.570878  0.465328  0.324392  0.593145
AAAAD     0.536505  0.402632  0.373899  0.536303
AAAAE     0.536956  0.461587  0.320398  0.535669
AAAAF     0.381335  0.488383  0.008012  0.594709

In [39]:
seq_ft_test = np.zeros((len(X_4test.index),100))
#listt = ['A','C','D','E','F','G','H','I','K','L','M','N','P','Q','R','S','T','V','W','Y']
for ind in range(0,len(X_4test.index)):
    tmp = list(X_4test.index[ind]) #['A','A','C','C','Y']
    seq_ft_test[ind,listt.index(tmp[0])] = 1
    seq_ft_test[ind,listt.index(tmp[1])+20] = 1
    seq_ft_test[ind,listt.index(tmp[2])+40] = 1
    seq_ft_test[ind,listt.index(tmp[3])+60] = 1
    seq_ft_test[ind,listt.index(tmp[4])+80] = 1
X_test_seq = pd.DataFrame(data=seq_ft_test,columns=range(0,100),index=X_4test.index)
X_test_seq.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
sequence,,,,,,,,,,,,,,,,,,,,,
AAAAA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAD,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAF,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
data_test = pd.concat([X_test_seq, test_minMax_df], axis=1)
data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,prot,pept,cst,amber
sequence,,,,,,,,,,,,,,,,,,,,,
AAAAA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.572797,0.454825,0.316189,0.592068
AAAAC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.570878,0.465328,0.324392,0.593145
AAAAD,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.536505,0.402632,0.373899,0.536303
AAAAE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.536956,0.461587,0.320398,0.535669
AAAAF,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.381335,0.488383,0.008012,0.594709

In [42]:
data_test.to_csv("X_test.csv")

In [43]:
remain = []
for allind in data_test.index.values:
    if allind not in index:
        remain.append(allind)
len(remain)

3168824

In [47]:
X_test = data_test.loc[remain,:]
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,prot,pept,cst,amber
sequence,,,,,,,,,,,,,,,,,,,,,
AAAAA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.572797,0.454825,0.316189,0.592068
AAAAC,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.570878,0.465328,0.324392,0.593145
AAAAD,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.536505,0.402632,0.373899,0.536303
AAAAE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.536956,0.461587,0.320398,0.535669
AAAAF,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.381335,0.488383,0.008012,0.594709

In [50]:
from sklearn import svm
from sklearn.multiclass import OneVsRestClassifier
svm = OneVsRestClassifier(svm.SVC(kernel = "linear"))
#data_train, data_test = split_dataset()
#,decision_function_shape = 'ovo'
svm.fit(X_train,y_train)
#total_svm = svm.predict_proba(data_test.drop(['result'], axis = 1))
result_svm = svm.decision_function(X_test)
label_result = svm.predict(X_test)

In [51]:
np.savetxt("result_svm",result_svm,delimiter=",")

In [52]:
rcn = np.random.randint(0,cl_num,size = uncl_num-cl_num)
rmn = np.random.randint(0,mid_num,size = uncl_num-mid_num)
#data_train.index = range(0,data_train.shape[0])
new_X_train = X_train.copy()
new_y_train = y_train.copy()
#data_full_c = X_train.iloc[0:cl_num,:].copy()
m = len(index)
#new_X_train.iloc[m+1:m+1+len(rcn),:] = new_X_train.iloc[rcn,:]
for num in rcn:
        new_X_train.loc[m+1] = X_train.iloc[num,:]
        new_y_train.loc[m+1] = y_train.iloc[num,:]
        m=m+1
#data_full_m = X_train[X_train['result'] == 'MIDDLE'].copy()

In [53]:
for nn in rmn:
        new_X_train.loc[m+1] = new_X_train.iloc[cl_num+nn,:]
        m=m+1

In [54]:
for nn in rmn:
    new_y_train.loc[m+1] = y_train.iloc[cl_num+nn,:]
    m=m+1
new_X_train.shape,new_y_train.shape

((44106, 104), (44106, 1))

In [57]:
from sklearn import svm
from sklearn.multiclass import OneVsRestClassifier
new_svm = OneVsRestClassifier(svm.SVC(kernel = "linear"))
new_svm.fit(new_X_train, new_y_train)
#total_svm = svm.predict_proba(data_test.drop(['result'], axis = 1))
new_result_svm = new_svm.decision_function(X_test)
new_label_result = new_svm.predict(X_test)

In [58]:
np.savetxt("new_result_svm",new_result_svm,delimiter=",")

In [62]:
np.savetxt("test_index_30000",remain,fmt='%8s',delimiter=",")

In [60]:
np.savetxt("label_result_ann_30000",label_result,fmt='%8s',delimiter=",")

In [61]:
np.savetxt("label_result_ann_resample_30000",new_label_result,fmt='%8s',delimiter=",")

In [59]:
X_train.to_csv("X_train_30000.csv")
y_train.to_csv("y_train_30000.csv")
new_X_train.to_csv("new_X_train_30000.csv")
new_y_train.to_csv("new_y_train_30000.csv")

In [70]:
X_test.to_csv("X_test.csv")

In [71]:
i = [1,2,3]

In [72]:
np.savetxt("test",i)

In [73]:
data_train = pd.read_csv("X_train.csv", index_col = 0)
y_train = pd.read_csv("y_train.csv",index_col=0)

In [75]:
data_train.shape

(31176, 104)

In [78]:
y_train['result'].copy().values

array(['CLEAVED', 'CLEAVED', 'CLEAVED', ..., 'UNCLEAVED', 'UNCLEAVED',
       'UNCLEAVED'], dtype=object)

In [79]:
result_n = y_train['result'].copy().values
newre = np.zeros(len(result_n))
for i in range(0,len(result_n)):
    if result_n[i] == 'CLEAVED':
        newre[i] = 0
    elif result_n[i] == 'MIDDLE':
        newre[i] = 1.0
    else:
        newre[i] = 2.0
newre = newre.astype(int)

In [86]:
label_result_ann = np.loadtxt("label_result_ann",delimiter=",")
result_ann = np.loadtxt("result_ann",delimiter=",")

In [89]:
new_label_result_ann = np.loadtxt("new_label_result_ann",delimiter=",")
new_result_ann = np.loadtxt("new_result_ann",delimiter=",")

In [124]:
result_svm

array([[-1.76013906, -1.00006445,  0.59853024],
       [-1.77932059, -1.00006901,  0.62348222],
       [-1.34916645, -1.00008084,  0.17847479],
       ...,
       [ 2.45274492, -1.00007209, -4.36562879],
       [ 2.49643046, -1.00008916, -4.40678978],
       [ 2.76463011, -1.00003636, -4.79733232]])

In [141]:
from scipy.special import softmax
result_svm_sm = softmax(result_svm,axis=1)
new_result_svm_sm = softmax(new_result_svm,axis=1)

In [149]:
comb_prob = np.asarray(result_svm_sm[:,0] + new_result_svm_sm[:,0] + result_ann[:,0] + new_result_ann[:,0])
comb_prob_df = pd.DataFrame({'score' : comb_prob,'result_svm': label_result,'result_svm_new': new_label_result, 'result_ann': label_result_ann, 'result_ann_new': new_label_result_ann},index = X_test.index.values)
comb_prob_df.head()

          score result_svm result_svm_new  result_ann  result_ann_new
AAAAA  0.201780  UNCLEAVED      UNCLEAVED         2.0             2.0
AAAAC  0.195042  UNCLEAVED      UNCLEAVED         2.0             2.0
AAAAD  0.388193  UNCLEAVED      UNCLEAVED         2.0             2.0
AAAAE  0.265607  UNCLEAVED      UNCLEAVED         2.0             2.0
AAAAF  0.211904  UNCLEAVED      UNCLEAVED         2.0             2.0

In [152]:
c = comb_prob_df[comb_prob_df['result_svm'] == 'CLEAVED'][comb_prob_df['result_svm_new']=='CLEAVED'][comb_prob_df['result_ann']==0][comb_prob_df['result_ann_new']==0]
c.head()

          score result_svm result_svm_new  result_ann  result_ann_new
AAACA  2.671489    CLEAVED        CLEAVED         0.0             0.0
AAACC  2.529159    CLEAVED        CLEAVED         0.0             0.0
AAACD  2.519871    CLEAVED        CLEAVED         0.0             0.0
AAACE  2.392227    CLEAVED        CLEAVED         0.0             0.0
AAACF  2.063468    CLEAVED        CLEAVED         0.0             0.0

In [155]:
c['index'] = range(len(c.index.values))

# Select dataset

In [67]:
def softmax(X, theta = 1.0, axis = None):
    """
    Compute the softmax of each element along an axis of X.

    Parameters
    ----------
    X: ND-Array. Probably should be floats.
    theta (optional): float parameter, used as a multiplier
        prior to exponentiation. Default = 1.0
    axis (optional): axis to compute values along. Default is the
        first non-singleton axis.

    Returns an array the same size as X. The result will sum to 1
    along the specified axis.
    """

    # make X at least 2d
    y = np.atleast_2d(X)

    # find axis
    if axis is None:
        axis = next(j[0] for j in enumerate(y.shape) if j[1] > 1)

    # multiply y against the theta parameter,
    y = y * float(theta)

    # subtract the max for numerical stability
    y = y - np.expand_dims(np.max(y, axis = axis), axis)

    # exponentiate y
    y = np.exp(y)

    # take the sum along the specified axis
    ax_sum = np.expand_dims(np.sum(y, axis = axis), axis)

    # finally: divide elementwise
    p = y / ax_sum

    # flatten if X was 1D
    if len(X.shape) == 1: p = p.flatten()

    return p

In [68]:
result_svm_norm = softmax(result_svm)

In [69]:
new_result_svm_norm = softmax(new_result_svm)

In [70]:
predictions = np.loadtxt("result_ann_30000",delimiter=',')

In [72]:
new_predictions = np.loadtxt("result_ann_resample_30000",delimiter=',')

In [73]:
label_ann = np.loadtxt("label_result_ann_30000",delimiter=',')
new_label_ann = np.loadtxt("label_result_ann_resample_30000",delimiter=',')

In [78]:
comb_cl = result_svm_norm[:,0] + new_result_svm_norm[:,0] + predictions[:,0] + new_predictions[:,0]
comb_cl_df = pd.DataFrame({'score':comb_cl,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
comb_cl_df_sort = comb_cl_df.sort_values(by=['score'],ascending=False)
comb_cl_df_sort.head()

          score result_svm new_result_svm  result_ann  new_result_ann
WYLIL  2.001074    CLEAVED        CLEAVED         0.0             0.0
WYLVL  2.001032    CLEAVED        CLEAVED         0.0             0.0
WYIIL  2.000734    CLEAVED        CLEAVED         0.0             0.0
YYLIL  2.000717    CLEAVED        CLEAVED         0.0             0.0
WYIVL  2.000707    CLEAVED        CLEAVED         0.0             0.0

In [88]:
comb_mid = new_predictions[:,0]
comb_mid_df = pd.DataFrame({'score':comb_mid,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
comb_mid_df_sort = comb_mid_df.sort_values(by=['score'],ascending=False)
comb_mid_df_sort.head()

       score result_svm new_result_svm  result_ann  new_result_ann
VEWEF    1.0    CLEAVED        CLEAVED         0.0             0.0
SALML    1.0    CLEAVED        CLEAVED         0.0             0.0
FDLFE    1.0    CLEAVED        CLEAVED         0.0             0.0
SALVF    1.0    CLEAVED        CLEAVED         0.0             0.0
SALVE    1.0    CLEAVED        CLEAVED         0.0             0.0

In [89]:
wei_mid = new_result_svm_norm[:,1] + new_predictions[:,1]
wei_mid_df = pd.DataFrame({'score':wei_mid,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
wei_mid_df_sort = wei_mid_df.sort_values(by=['score'],ascending=False)
wei_mid_df_sort.head()

          score result_svm new_result_svm  result_ann  new_result_ann
WGAQQ  0.999914    CLEAVED        CLEAVED         1.0             1.0
AKEYV  0.999833    CLEAVED        CLEAVED         1.0             1.0
GGAQE  0.999811     MIDDLE         MIDDLE         1.0             1.0
TGAQM  0.999805     MIDDLE         MIDDLE         1.0             1.0
AGAQE  0.999784     MIDDLE         MIDDLE         1.0             1.0

In [ ]:
comb_cl = result_svm_norm[:,0] + new_result_svm_norm[:,0] + predictions[:,0] + new_predictions[:,0]
comb_cl_df = pd.DataFrame({'score':comb_cl,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
comb_cl_df_sort = comb_cl_df.sort_values(by=['score'],ascending=False)
comb_cl_df_sort.head()

In [77]:
count_set={}
for i in range(0,len(index)):
    if index[i] in count_set.keys():
        print(index[i],i)
    else:
        count_set[index[i]] = 1

In [79]:
unwei_unc = result_svm_norm[:,2] + predictions[:,2] 
unwei_unc_df = pd.DataFrame({'score':unwei_unc,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
unwei_unc_df_sort = unwei_unc_df.sort_values(by=['score'],ascending=False)
unwei_unc_df_sort.head()

          score result_svm new_result_svm  result_ann  new_result_ann
NPGPG  1.002251  UNCLEAVED      UNCLEAVED         2.0             2.0
RPGPG  1.002059  UNCLEAVED      UNCLEAVED         2.0             2.0
KPGPG  1.001942  UNCLEAVED      UNCLEAVED         2.0             2.0
RPNPG  1.001681  UNCLEAVED      UNCLEAVED         2.0             2.0
NPNPG  1.001636  UNCLEAVED      UNCLEAVED         2.0             2.0

In [80]:
comb_mid = result_svm_norm[:,1] + new_result_svm_norm[:,1] + predictions[:,1] + new_predictions[:,1]
comb_mid_df = pd.DataFrame({'score':comb_mid,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
comb_mid_df_sort = comb_mid_df.sort_values(by=['score'],ascending=False)
comb_mid_df_sort.head()

          score result_svm new_result_svm  result_ann  new_result_ann
DPAQE  1.997235  UNCLEAVED      UNCLEAVED         1.0             1.0
DGAQQ  1.996631     MIDDLE         MIDDLE         1.0             1.0
DCAQQ  1.996488     MIDDLE         MIDDLE         1.0             1.0
GGAQE  1.996466     MIDDLE         MIDDLE         1.0             1.0
TGAQM  1.996299     MIDDLE         MIDDLE         1.0             1.0

In [83]:
comb_mid = result_svm_norm[:,1] + predictions[:,1]
comb_mid_df = pd.DataFrame({'score':comb_mid,'result_svm':label_result,'new_result_svm':new_label_result,'result_ann':label_ann,'new_result_ann':new_label_ann},index=X_test.index.values)
comb_mid_df_sort = comb_mid_df.sort_values(by=['score'],ascending=False)
comb_mid_df_sort.head()

          score result_svm new_result_svm  result_ann  new_result_ann
DPAQE  0.997862  UNCLEAVED      UNCLEAVED         1.0             1.0
DGAQQ  0.996882     MIDDLE         MIDDLE         1.0             1.0
DCAQQ  0.996764     MIDDLE         MIDDLE         1.0             1.0
TGSFD  0.996718     MIDDLE         MIDDLE         1.0             1.0
GGAQE  0.996656     MIDDLE         MIDDLE         1.0             1.0